---
- name: Install nginx web server
  apt: 
    name: nginx
    state: latest
    force: yes

- name: Copy vhost
  copy: 
    src: "{{item}}"
    dest: /etc/nginx/sites-available/{{item}}
  with_items:
    - download.kiwix.org
    - packages.ideascube.org
  notify: restart nginx

- name: Copy vhost cdn splashscreen
  template: 
    src: cdn.ideascube.local.j2
    dest: /etc/nginx/sites-available/{{server_name}}.local
  notify: restart nginx

- name: Enable vhost
  file: 
    src: /etc/nginx/sites-available/{{item}}
    dest: /etc/nginx/sites-enabled/{{item}}
    state: link
  with_items:
    - download.kiwix.org
    - packages.ideascube.org
    - "{{ server_name }}.local"
  notify: restart nginx

- name: Copy welcome page
  template: 
    src: welcome-cdn.html.j2
    dest: /var/www/html/index.html

- name: Enable server_names_hash_bucket_size
  lineinfile: 
    dest: /etc/nginx/nginx.conf
    regexp: '# server_names_hash_bucket_size 64;'
    line: 'server_names_hash_bucket_size 64;'