[global]
workgroup = WORKGROUP
server string = Samba Server %v
netbios name = Kawax
security = user
map to guest = bad user
dns proxy = no

#============================ Share Definitions ==============================

[packages]
path = "/media/hdd/omeka/"
browsable =yes
writable = no
guest ok = yes
read only = yes
force user = nobody

[kiwix]
path = "/media/hdd/kiwix/"
browsable =yes
writable = no
guest ok = yes
read only = yes
force user = nobody
