[global]
workgroup = WORKGROUP
server string = Samba Server %v
netbios name = {{ hostname }}
security = user
map to guest = bad user
dns proxy = no

#============================ Share Definitions ==============================

[content]
path = "/srv/synology/Gestion des contenus"
browsable =yes
writable = no
guest ok = yes
read only = yes
force user = nobody

[zim]
path = "/srv/kawax/"
browsable =yes
writable = no
guest ok = yes
read only = yes
force user = nobody

[packages]
path = "/srv/packages/"
browsable =yes
writable = no
guest ok = yes
read only = yes
force user = nobody
