---
- name: "Does the device works on eMMC and external HDD ?"
  set_fact:
    external_hdd: true
  when: ansible_devices.sda.partitions.sda1.uuid | default(false) and
        ansible_devices.mmcblk0.partitions.mmcblk0p1.uuid | default(false)

- name: test
  debug: msg="External HDD has been detected. /dev/sda1 will be mounted to store the data. Size {{ ansible_devices.sda.partitions.sda1.size }}"
  when : external_hdd

- name: Update and upgrade apt packages
  become: true
  apt:
    upgrade: yes
    update_cache: yes
    cache_valid_time: 86400

- name: Fix broken package
  become: true
  shell: dpkg --configure -a

- name: Install required package
  become: true
  apt:
    name: "{{ packages }}"
    state: latest
    update_cache: yes
    cache_valid_time: 3600
  vars:
    packages:
      - vim
      - locate
      - unzip
      - hdparm
      - tree
      - screen
      - iftop
      - iotop
      - tmux
      - mtr-tiny
      - libwww-perl
      - httpie
      - lshw
      - hwinfo
      - elinks
      - avahi-daemon
      - avahi-utils
      - mosh

- name: Ensure locale en_US.UTF-8 locale is present
  locale_gen:
    name: en_US.UTF-8
    state: present

- block:
  - name: Set a server name with hostnamectl
    shell: hostnamectl set-hostname {{ server_name }}

  rescue:
  - name: Set a server name manually
    shell: echo {{ server_name }} > /etc/hostname

  always:
  - name: reload ansible_hostname
    setup: filter=ansible_hostname

- name: Set name server in hosts file
  lineinfile:
    path: /etc/hosts
    regexp: '^127.0.0.1'
    line: "127.0.0.1 localhost {{ server_name }}"

- name: Enable systemd-timesyncd
  command: timedatectl set-ntp true

- name: Remove the existing localtime file
  file:
    path: /etc/localtime
    state: absent

- name: Set a new localtime file corresponding to the timezone
  file:
    src: /usr/share/zoneinfo/{{ timezone }}
    dest: /etc/localtime
    state: link
    force: yes

- name: Set timezone variables
  copy:
    content: "{{ timezone }}"
    dest: /etc/timezone
    owner: root
    group: root
    mode: 0644
    backup: yes
  notify: update timezone

- include: storage.yml
  tags: storage
  when: external_hdd

- include: user_management.yml
  tags: user_management

- name: Check if ssh key is present
  stat: path=/root/.ssh/{{server_name}}.pub
  register: ssh_key
  tags: ssh_config

- include: ssh_config.yml
  tags: ssh_config
  when: ssh_key.stat.exists == False

- include: logs.yml
  tags: logs

- name: Add cdn-ideascube.local as an Avahi alias
  blockinfile:
    dest: /etc/systemd/system/avahi-alias.service
    create: yes
    block: |
      [Unit]
      Description=Publish {{cdn_name}} as alias for {{server_name}}.local via mdns
      Wants=avahi-daemon.service network-online.target
      After=avahi-daemon.service network-online.target

      [Service]
      Type=simple
      ExecStart=/bin/bash -c "/usr/bin/avahi-publish -a -R {{cdn_name}}.local $(avahi-resolve -4 -n {{server_name}}.local | cut -f 2)"

      [Install]
      WantedBy=multi-user.target
  notify: publish avahi alias
