#!/bin/bash

IF=$1
STATUS=$2
PROC=`pgrep ansible-pull`

if [[ "$IF" == eth* || "$IF" == "wlan1" ]] && [ -z "$PROC"  ]
then
    case "$STATUS" in
        up)
			/usr/local/bin/ansible-pull -s 120 -C master -d /var/lib/ansible/local -i hosts -U https://github.com/ideascube/koombook-doctor.git main.yml >> /var/log/ansible-pull.log 2>&1
        ;;
        *)
            exit 0;
        ;;
    esac
fi
