#!/bin/bash

IF=$1
STATUS=$2
PROC=`pgrep kawax`
GATEWAY=`/sbin/ip route | awk '/default/ { print $3 }'`

if [[ "$IF" == "eth0" || "$IF" == "wlan1" ]] && [[ -z "$PROC" && $GATEWAY == "10.10.9.1" ]]
then
    case "$STATUS" in
        up)
			/usr/local/bin/kawax rsync_synology >> /var/log/kawax.log 2>&1
        ;;
        *)
            exit 0;
        ;;
    esac
fi
